{% extends 'base.html' %}
{% block base %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departures[departure] }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ (tours.values()|min(attribute="price")).price }} до {{ (tours.values()|max(attribute="price")).price }} и от {{ (tours.values()|min(attribute="nights")).nights }} ночей до {{ (tours.values()|max(attribute="nights")).nights }} ночей</p>
    <div class="row mt-5">
      {% for (key, value) in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ value.picture }}" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ value.title }}</h2>
            <p class="card-text">{{ value.description|truncate(100) }}</p>
            <a href="/tours/{{ key }}/" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </main>
  {% endblock %}